.header-logo {
  position: absolute;
  top: 20px; /* Adjust the top position to fit inside the red box */
  left: 20px; /* Adjust the left position to fit inside the red box */
}

.paymee-logo {
  height: 40px; /* Ensure the logo height fits well */
  width: auto; /* Maintain aspect ratio */
}

.login-logo {
  height: 40px; 
  width: 178px; /* */
  background: url('./ola.png') no-repeat center center;
  background-size: contain;
  margin-bottom: 28px; /* Margin for spacing */
}

.form-labe {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: bold; /* Set font weight to bold */
  line-height: 19.36px;
  color: #697386;
  display: block;
  margin-bottom: 10px;
}
